/*seteo de color y dimensiones de body y html general*/
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}

/* Media query para dispositivos con un ancho máximo de 767px (generalmente dispositivos móviles) */
@media only screen and (max-width: 767px) {
    /* cuerpo html contenedor del body*/    
    .cuerpo{
        height: 100vh; /* Establecer altura al 100% del viewport height */
    }

    /*clase para imagenes dentro del carrousel*/
    .img-chica {
        max-height: 50vh; /* Ajusta este valor según tus necesidades */
        max-width: 100%;
    }
}

/* cuerpo html contenedor del body*/    
.cuerpo{
    background-color: "black";
    height: 100vh; /* Establecer altura al 100% del viewport height */
}

/*contenedor de las etiquetas del navbar*/
.navbar-brand{
    color: white;
}
/*clase para imagenes dentro del carrousel*/
.img-chica {
    max-height: 85.8vh; /* Ajusta este valor según tus necesidades */
    max-height: 85.8vh; /* Ajusta este valor según tus necesidades */
    max-width: 100%;
    object-fit: contain; /* Conservar proporciones de la imagen sin estirarla */
}
/*pie de pagina*/
.pie{
    background-color: black;
}
/*contenedor del footer formato sobre la etiqueta p*/
.piedepagina p{
    color: white;
    text-align: center;
    padding: 0px;
}
/*formato sobre el footer y las redes sociales*/
.piedepagina .redessociales{
    text-align: center;
}

.piedepagina .redessociales img{
    max-width: 3vh;    
    margin: 0 20px;
}